<div class='fx-layout-column fx-align--start-x fx-align--x-start'>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Death</div>
    <div>{{saveVsDeath}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Wands</div>
    <div>{{saveVsWands}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Polymorph</div>
    <div>{{saveVsPoly}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Breath</div>
    <div>{{saveVsBreath}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Spell</div>
    <div>{{saveVsSpell}}</div>
  </div>
</div>
