<div class="border p-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Save vs Death</div>
    <div>{{saveVsDeath}}</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Save vs Wands</div>
    <div>{{saveVsWands}}</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Save vs Polymorph</div>
    <div>{{saveVsPoly}}</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Save vs Breath</div>
    <div>{{saveVsBreath}}</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Save vs Spell</div>
    <div>{{saveVsSpell}}</div>
  </div>
</div>
