<div class='fx-layout-column fx-align--start-x fx-align--x-start'>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Fire</div>
    <div>{{resistFire}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Cold</div>
    <div>{{resistCold}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Electricity</div>
    <div>{{resistElectricity}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Acid</div>
    <div>{{resistAcid}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Magic</div>
    <div>{{resistMagic}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Poison</div>
    <div>{{resistPoison}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Slashing</div>
    <div>{{resistSlashing}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Crushing</div>
    <div>{{resistCrushing}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Piercing</div>
    <div>{{resistPiercing}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>Missile</div>
    <div>{{resistMissile}}</div>
  </div>
</div>
