<div class="border p-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Fire</div>
    <div>{{resistFire}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Cold</div>
    <div>{{resistCold}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Electricity</div>
    <div>{{resistElectricity}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Acid</div>
    <div>{{resistAcid}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Magic</div>
    <div>{{resistMagic}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Poison</div>
    <div>{{resistPoison}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Slashing</div>
    <div>{{resistSlashing}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Crushing</div>
    <div>{{resistCrushing}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Piercing</div>
    <div>{{resistPiercing}}%</div>
  </div>
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Missile</div>
    <div>{{resistMissile}}%</div>
  </div>
</div>
