<div class="border p-3 fx-layout-column fx-align--start-x fx-align--x-stretch">
  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Armor class</div>
    <div>{{ac}}</div>
  </div>

  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div title="{{weapprofs}}">THAC0 ⚙️</div>
    <div>{{thac0}}{{#if offhand}}/{{thac0Left}}{{/if}}</div>
  </div>

  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Attacks/round</div>
    <div>{{apr}}</div>
  </div>

  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>XP</div>
    <div>{{xp}}</div>
  </div>

  <div class="fx-layout-row fx-align--space-between-x fx-align--x-center">
    <div>Luck</div>
    <div>{{luck}}</div>
  </div>
</div>
