<div class="buff-wrapper fx-layout-column fx-align--start-x fx-align--x-center">
  <img
    class="heartbeat cursor-pointer"
    draggable="false"
    src="data:image/png;base64,{{eff.resImage.base64}}"
    style="top: {{valign}}px;"
    data-tippy-content="{{proItmsWrap}}"
  />

  {{{durationHtml}}}

  {{{levelsHtml}}}
</div>
