<div
  class="buff-wrapper fx-layout-column fx-align--start-x fx-align--x-center"
  style="top: {{valign}}px;"
>
  <img
    class="heartbeat"
    draggable="false"
    src="data:image/png;base64,{{eff.resImage.base64}}"
    data-tippy-content="{{proItmsWrap}}"
  />
  <div class="duration fs-3" style="margin-top: {{valign}}px;">{{duration}} {{eff.key}}</div>
</div>