<div class="fx-layout-column fx-align--start-x fx-align--x-start">
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>STR</div>
    <div id="str">{{str}}</div>
  </div>
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>DEX</div>
    <div id="dex">{{dex}}</div>
  </div>
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>CON</div>
    <div id="con">{{con}}</div>
  </div>
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>INT</div>
    <div id="int">{{int}}</div>
  </div>
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>WIS</div>
    <div id="wis">{{wis}}</div>
  </div>
  <div class="fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px">
    <div>CHA</div>
    <div id="cha">{{cha}}</div>
  </div>
</div>
