<div class='fx-layout-column fx-align--start-x fx-align--x-start'>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>STR</div>
    <div>{{str}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>DEX</div>
    <div>{{dex}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>CON</div>
    <div>{{con}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>INT</div>
    <div>{{int}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>WIS</div>
    <div>{{wis}}</div>
  </div>
  <div class='fx-layout-row fx-align--start-x fx-align--x-center fx-gap--3px'>
    <div>CHA</div>
    <div>{{cha}}</div>
  </div>
</div>
