<div class="border p-3 fx-layout-row fx-align--space-evenly-x fx-align--x-start">
  <div class="ability">
    <span>STR</span>
    <span>{{str}}</span>
  </div>
  <div class="ability">
    <span>DEX</span>
    <span>{{dex}}</span>
  </div>
  <div class="ability">
    <span>CON</span>
    <span>{{con}}</span>
  </div>
  <div class="ability">
    <span>INT</span>
    <span>{{int}}</span>
  </div>
  <div class="ability">
    <span>WIS</span>
    <span>{{wis}}</span>
  </div>
  <div class="ability">
    <span>CHA</span>
    <span>{{cha}}</span>
  </div>
</div>
